$color-link-light-opacity: 1 !default;

$ir-logo-url: url('../img/site/logo.png') !default;

$type-font-family:               'Proxima Nova', 'OpenSans', sans-serif;
$type-font-size-h1:              2.4em !default;
$type-font-size-h2:              1.75em !default;
$type-font-size-h3:              1.4em !default;
$type-font-size-h4:              1.2em !default;
$type-font-size-h5:              1.1em !default;
$type-font-size-h6:              1em !default;
