nav.search {
    form.form {
        position: relative;
        padding-right: 30px;
        height: 2em;
        label {
            @extend .hide-accessible;
        }
        input[type="text"], input[type="search"] {
            width: 100%;
            font-size: 14px;
            line-height: 14px;
            padding: 3px 20px 3px 3px;
            max-width: 100%;
            z-index: 0;
        }
        input[type="submit"] {
            top: 3px;
            z-index: 1;
            margin-right: 3px;
            border: 0px;
            background: transparent;
            @include -base-image-replacement;
            background: url('../img/site/search.png') top center no-repeat;
            width: 18px;
            height: 20px;
            position: absolute;
            right: 10px;
        }
    }
}