nav.search {
    form.form {
        position: relative;
        width: $form-input-size+14px;
        height: 2em;
        input {
            position: absolute;
            right: 0;
        }
        input[type="text"] {
            max-width: 100%;
            z-index: 0;
        }
        input[type="submit"] {
            top: 3px;
            z-index: 1;
            margin-right: 3px;
            border: 0px;
            background: transparent;
        }
    }
}