nav.tabs {
    
    > h1, > h2, > h3, > h4, > h5, > h6, ul > li > a {
        font-size: 1em;
        display: block;
        margin: 0 10px -1px 0;
        line-height: $type-line-height;
        padding: 6px 8px 6px 0;
    }
    
}
