ul.list.horizontal {
    
    @extend ul.list.unstyled;
    @extend .float-container;
    
    > li {
        
        float: left;
        
        &:not(:first-child) {
            padding-left: 30px;
            &:before {
                content: "|";
                float: left;
                margin-left: -18px;
            }

        }
    }
    
}