.link.set {
    
    > ul { 
        
        @extend ul.unstyled.list;
        
        > li {
        
            &:not(:last-child){
                margin-bottom: 0.8*$type-line-spacing;
            }
            
            a {
                font-weight: bold;
                small {
                    font-weight: normal;
                    text-decoration: none;
                }
            }
            
        }
        
    }
        
    footer {
        @extend .text-small;
        @extend .text-neutral;
        small {
            font-size: 1em;
        }
    }
    
}