// use of body is a precedence hack
body .message {
    border-radius: $entity-message-border-radius;
}

// messag header
.message {
    
    header {
        @if $color-body-light {
            background-color: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        } @else {
            background-color: rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
        
        margin: -5px -10px 5px -10px; // header should not be padded - this is the inverse of the .message padding
        padding: 5px 10px;
        h1, h2, h3, h4, h5, h6 {
            font-size: 1.1em;
            margin-bottom: 0;
        }
        
    }
    
    &.dark {
        header {
            background-color: rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
    }
    
    &.light {
        header {
            background-color: rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
    }
}