@font-face {
	font-family:'ProximaNova';src:url('../font/ProximaNova-Light.eot');src:url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),url('../font/ProximaNova-Light.woff') format('woff'),url('../font/ProximaNova-Light.ttf') format('truetype');
	font-weight:300;
	font-style:normal;
}