@font-face {
	font-family:'ProximaNova';src:url('../font/ProximaNova-Regular.eot');src:url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../font/ProximaNova-Regular.woff') format('woff'),url('../font/ProximaNova-Regular.ttf') format('truetype');
	font-weight:400;
	font-style:normal;
}