@font-face {
    font-family:'ProximaNova';src:url('../font/ProximaNova-Semibold.eot');src:url('../font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),url('../font/ProximaNova-Semibold.woff') format('woff'),url('../font/ProximaNova-Semibold.ttf') format('truetype');
	font-weight:600;
	font-style:normal;
}