header.site {
    
    padding: 1em 0;
    min-height: 2em;
    
    .container {
        position: relative;
    }
    
    hgroup {
        min-height: 56px;
        h1 {
            font-size: 46px;
            padding-right: 17px;
        }
        h2 {
            font-size: 20px;
            padding-top: 10px;
            font-weight: normal;
        }
        @media (min-width: $breakpoint-small+1){
            h1 {
                float: left
            }
            h2 {
                font-size: 20px;
                padding-top: 26px;
                font-weight: normal;
            }
        }
        h1, h2 {
            margin: 0;
            line-height: 1;
        }
    }
    
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
    nav.search form.form input[type="search"] {
        font-size: 14px;
        line-height: 14px;
        padding: 3px 20px 3px 3px;
        border-radius: 0;
    }
    
    nav.search form.form input[type="submit"]{
        @include -base-image-replacement;
        background: url('../img/site/search.png') top center no-repeat;
        width: 18px;
        height: 20px;
    }
    
    
    @media(max-width:$breakpoint-small){
        nav.search {
            margin-top: 10px;
        }
    }
    
    @media (min-width:$breakpoint-small+1){
        nav.search {
            position: absolute;
            top: 0;
            right: 0;
        }
        
        hgroup + nav.search {
            top: 24px;
        }

        nav.search + nav.mega:before {
            content: "";
            height: 26px;
            width: 100%;
            display: block;
        }

        hgroup + nav.search + nav.mega:before {
            content: "";
            height: 0;
        }
    }
    
}