// this value may be overridden
$patterns-quicklinks-panel-gutter:        $structure-panel-gutter !default;

// these values cannot be overridden
// provided only to make the math make more sense and for later extensibility
$patterns-quicklinks-increment:           60;
$patterns-quicklinks-panel-width:         ((100% - ($patterns-quicklinks-increment - 1) * $patterns-quicklinks-panel-gutter) / $patterns-quicklinks-increment);


@mixin -patterns-quicklinks-panel {
    // from -base-structure-grid-panel -- but using $patterns-quicklinks-panel-gutter instead
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    &:not(:first-child) {
        margin-left: $patterns-quicklinks-panel-gutter;
    }
}

.quicklinks {
    
    @extend .float-container;
    
    img {
        @extend .constrained;
    }
    
    > figure {
        
        text-align: center;
        
        > figcaption {
            margin-bottom: 0.5*$type-line-spacing;
        }
    }
    
    // the child values must be specified explicitly because of a constraint
    // imposed by SASS regarding no variables in :nth-last-child selectors
    
    @media (min-width: $breakpoint-small+1){
    
        > figure {
            @include -patterns-quicklinks-panel;
        }
    
        > figure:first-child:nth-last-child(2),
        > figure:first-child:nth-last-child(2) ~ figure {
            @include -base-structure-grid-panel-fluid-span($patterns-quicklinks-increment/2, $patterns-quicklinks-panel-width, $patterns-quicklinks-panel-gutter);
        }

        > figure:first-child:nth-last-child(3),
        > figure:first-child:nth-last-child(3) ~ figure {
            @include -base-structure-grid-panel-fluid-span($patterns-quicklinks-increment/3, $patterns-quicklinks-panel-width, $patterns-quicklinks-panel-gutter);
        }

        > figure:first-child:nth-last-child(4),
        > figure:first-child:nth-last-child(4) ~ figure {
            @include -base-structure-grid-panel-fluid-span($patterns-quicklinks-increment/4, $patterns-quicklinks-panel-width, $patterns-quicklinks-panel-gutter);
        }

        > figure:first-child:nth-last-child(5),
        > figure:first-child:nth-last-child(5) ~ figure {
            @include -base-structure-grid-panel-fluid-span($patterns-quicklinks-increment/5, $patterns-quicklinks-panel-width, $patterns-quicklinks-panel-gutter);
        }

        > figure:first-child:nth-last-child(6),
        > figure:first-child:nth-last-child(6) ~ figure {
            @include -base-structure-grid-panel-fluid-span($patterns-quicklinks-increment/6, $patterns-quicklinks-panel-width, $patterns-quicklinks-panel-gutter);
        }
        
    }
    
}