nav.list.horizontal {
    @extend .float-container;
    > ul > li {
        float: left;
        > a {
            padding: 0;
        }
        &:not(:first-child) {
            padding-left: 20px;
            &:before {
                content: "|";
                float: left;
                margin-left: -10px;
            }

        }
    }
}