h1 .text-small {
    font-size: $type-font-size-h1-small;
}

h2 .text-small {
    font-size: $type-font-size-h2-small;
}

h3 .text-small {
    font-size: $type-font-size-h3-small;
}

h4 .text-small {
    font-size: $type-font-size-h4-small;
}

h5 .text-small {
    font-size: $type-font-size-h5-small;
}

h6 .text-small {
    font-size: $type-font-size-h6-small;
}

.text-small {
    font-size: $type-font-size-small;
}

.text-upper {
    text-transform: uppercase;
}