h1, h2, h3, h4, h5, h6 {
    color: #4e8db6;
}
site.main > h1 {
    text-transform: uppercase;
}
.message, nav.list, nav.search, nav.tabs, nav.bar {
    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}
header.condensed, footer.condensed {
    > *:not(:last-child) {
        margin-bottom: 0;
    }
}

header.site, footer.site, nav.bar, nav.list, nav.breadcrumb, .message {
    a {
        border-bottom: none;
    }
}

a {
    border-bottom: 1px lighten(#073198, 40%) dotted;
    text-decoration: none;
}
a:hover:not(.button) {
    border-bottom: none;
}